@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<h1>Games</h1>
<h3>Minecraft</h3>
<p>Server is operable at all moments.</p>